h1 {
    border-bottom: 3px solid black;
    width: 800px;
}

ul, ol {
    padding: 0;
    position: relative;
}

ul li, ol li {
    color: black;
    border-left: solid 16px orangered;  /*左側の線*/
    background: whitesmoke;
    margin-bottom: 5px;             /*下側の余白*/
    line-height: 1.5;
    list-style-type: none!important;/*ポチ消す*/
    width: 600px;
}

li a {
    color: black;
    margin-bottom: 1px;
    padding: 10px 0 10px 10px;
    display: block;
    text-decoration: none;
}

li a:hover {
    color: orangered;
    background: lightgray;
}
